apiVersion: v1
kind: ConfigMap
metadata:
  name: xld-cc-configuration-management-script
  labels:
    app: {{ template "xl-deploy.name" . }}
    chart: {{ template "xl-deploy.chart" . }}
    release: {{ .Release.Name }}
data:
  op-based-run.sh: |-
    {{- range $.Values.deploy.configurationManagement.centralConfiguration.configuration.resetFiles }}
    rm -fv /opt/xebialabs/central-configuration-server/conf/{{ . }};
    {{- end }}
    echo "Finished reset of the conf files";

    {{- range $.Values.deploy.configurationManagement.centralConfiguration.configuration.resetCcFiles }}
    rm -fv /opt/xebialabs/central-configuration-server/centralConfiguration/{{ . }};
    {{- end }}
    echo "Finished reset of the centralConfiguration files";

    mkdir /opt/xebialabs/central-configuration-server/xld-configuration-management/;
    ORIGINAL_PWD=$(pwd);
    cd /opt/xebialabs/central-configuration-server/xld-configuration-management/;
    cp /opt/xebialabs/xld-configuration-management/* .; chmod +x *.sh;
    [ -x ./op-configuration-management.sh ] && ./op-configuration-management.sh;
    cd $ORIGINAL_PWD;
    echo "Finished central configuration server configuration management";

    exec /opt/xebialabs/central-configuration-server/bin/run-in-container.sh

  op-configuration-management.sh: |-
    {{- .Values.deploy.configurationManagement.centralConfiguration.configuration.script | default "echo \"Nothing to execute.\"" | nindent 4 }}

  {{- range $key, $val := .Values.deploy.configurationManagement.centralConfiguration.configuration.scriptData }}
  {{ $key }}: |-
    {{- $val | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: xld-master-configuration-management-script
  labels:
    app: {{ template "xl-deploy.name" . }}
    chart: {{ template "xl-deploy.chart" . }}
    release: {{ .Release.Name }}
data:
  op-based-run.sh: |-
    {{- range $.Values.deploy.configurationManagement.master.configuration.resetFiles }}
    rm -fv /opt/xebialabs/xl-deploy-server/conf/{{ . }};
    {{- end }}
    echo "Finished reset of the conf files";

    mkdir /opt/xebialabs/xl-deploy-server/xld-configuration-management/;
    ORIGINAL_PWD=$(pwd);
    cd /opt/xebialabs/xl-deploy-server/xld-configuration-management/;
    cp /opt/xebialabs/xld-configuration-management/* .; chmod +x *.sh;
    [ -x ./op-configuration-management.sh ] && ./op-configuration-management.sh;
    cd $ORIGINAL_PWD;

    {{- if .Values.deploy.master.podServiceTemplate.enabled }}
    POD_NUMBER=$(echo $POD_NAME | grep -Eo "[0-9]+$")
    {{- if contains .Values.deploy.master.podServiceTemplate.serviceMode "SingleHostname;MultiService" }}
    export SERVER_PORT=$(echo $SERVER_PORT+$POD_NUMBER | bc)
    {{- end }}
    {{- if or .Values.deploy.master.podServiceTemplate.overrideHostname .Values.deploy.master.podServiceTemplate.overrideHostnames }}
    allMasters=(
    {{- range $podNumber := untilStep 0 (int .Values.XldMasterCount) 1 }}
    {{- $newValues := merge (dict "podNumber" $podNumber) $ }}
    {{- $masterHostname := include "deploy.masterHostname" $newValues }}
    "{{ $masterHostname }}"
    {{- end }}
    )
    export OVERRIDE_HOSTNAME=$(echo ${allMasters[$POD_NUMBER]})
    echo "Using master hostname: $OVERRIDE_HOSTNAME"
    {{- end }}
    echo "Using master port: $SERVER_PORT"
    {{- end }}
    echo "Finished deploy master server configuration management";

    exec /opt/xebialabs/xl-deploy-server/bin/run-in-container.sh

  op-configuration-management.sh: |-
    {{- .Values.deploy.configurationManagement.master.configuration.script | default "echo \"Nothing to execute.\"" | nindent 4 }}

  {{- range $key, $val := .Values.deploy.configurationManagement.master.configuration.scriptData }}
  {{ $key }}: |-
  {{- $val | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: xld-worker-configuration-management-script
  labels:
    app: {{ template "xl-deploy.name" . }}
    chart: {{ template "xl-deploy.chart" . }}
    release: {{ .Release.Name }}
data:
  op-based-run.sh: |-
    {{- range $.Values.deploy.configurationManagement.worker.configuration.resetFiles }}
    rm -fv /opt/xebialabs/deploy-task-engine/conf/{{ . }};
    {{- end }}
    echo "Finished reset of the conf files";

    mkdir /opt/xebialabs/deploy-task-engine/xld-configuration-management/;
    ORIGINAL_PWD=$(pwd);
    cd /opt/xebialabs/deploy-task-engine/xld-configuration-management/;
    cp /opt/xebialabs/xld-configuration-management/* .; chmod +x *.sh;
    [ -x ./op-configuration-management.sh ] && ./op-configuration-management.sh;
    cd $ORIGINAL_PWD;
    echo "Finished deploy worker configuration management";

    {{- if .Values.deploy.worker.podServiceTemplate.enabled }}

    POD_NUMBER=$(echo $POD_NAME | grep -Eo "[0-9]+$")
    {{- if contains .Values.deploy.worker.podServiceTemplate.serviceMode "SingleHostname;MultiService" }}
    export SERVER_PORT=$(echo $SERVER_PORT+$POD_NUMBER | bc)
    {{- end }}
    {{- if or .Values.deploy.worker.podServiceTemplate.overrideHostname .Values.deploy.worker.podServiceTemplate.overrideHostnames }}
    allWorkers=(
    {{- range $podNumber := untilStep 0 (int .Values.XldWorkerCount) 1 }}
    {{- $newValues := merge (dict "podNumber" $podNumber) $ }}
    {{- $workerHostname := include "deploy.workerHostname" $newValues }}
    "{{ $workerHostname }}"
    {{- end }}
    )
    export OVERRIDE_HOSTNAME=$(echo ${allWorkers[$POD_NUMBER]})
    echo "Using worker hostname: $OVERRIDE_HOSTNAME"
    {{- end }}
    echo "Using worker port: $SERVER_PORT"
    exec /opt/xebialabs/deploy-task-engine/bin/run-in-container.sh \
      {{- include "deploy.workerMasters" $ }}
      {{- if or .Values.deploy.worker.podServiceTemplate.overrideHostname .Values.deploy.worker.podServiceTemplate.overrideHostnames }}
      -hostname "$OVERRIDE_HOSTNAME$HOSTNAME_SUFFIX" \
      {{- else }}
      -hostname "$POD_NAME$HOSTNAME_SUFFIX" \
      {{- end }}
      -api "http://{{ template "xl-deploy.fullname" . }}-lb.{{ .Release.Namespace }}.svc.cluster.local:4516/"

    {{- else }}

    exec /opt/xebialabs/deploy-task-engine/bin/run-in-container.sh \
      {{- include "deploy.workerMasters" $ }}
      -api "http://{{ template "xl-deploy.fullname" . }}-lb.{{ .Release.Namespace }}.svc.cluster.local:4516/"
    {{- end }}

  op-configuration-management.sh: |-
    {{- .Values.deploy.configurationManagement.worker.configuration.script | default "echo \"Nothing to execute.\"" | nindent 4 }}

  {{- range $key, $val := .Values.deploy.configurationManagement.worker.configuration.scriptData }}
  {{ $key }}: |-
  {{- $val | nindent 4 }}
  {{- end }}
