apiVersion: v1
kind: ConfigMap
metadata:
  name: xld-cc-configuration-management-script
  labels:
    app: {{ template "xl-deploy.name" . }}
    chart: {{ template "xl-deploy.chart" . }}
    release: {{ .Release.Name }}
data:
  op-based-run.sh: |-
    {{- range $.Values.deploy.configurationManagement.centralConfiguration.configuration.resetFiles }}
    rm -fv /opt/xebialabs/central-configuration-server/conf/{{ . }};
    {{- end }}
    echo "Finished reset of the conf files";
    {{- range $.Values.deploy.configurationManagement.centralConfiguration.configuration.resetCcFiles }}
    rm -fv /opt/xebialabs/central-configuration-server/centralConfiguration/{{ . }};
    {{- end }}
    echo "Finished reset of the centralConfiguration files";
    mkdir /opt/xebialabs/central-configuration-server/xld-configuration-management/; 
    ORIGINAL_PWD=$(pwd);
    cd /opt/xebialabs/central-configuration-server/xld-configuration-management/; 
    cp /opt/xebialabs/xld-configuration-management/* .; chmod +x *.sh; 
    [ -x ./op-configuration-management.sh ] && ./op-configuration-management.sh;
    cd $ORIGINAL_PWD;
    echo "Finished central configuration server configuration management";
    exec /opt/xebialabs/central-configuration-server/bin/run-in-container.sh
  op-configuration-management.sh: |-
    {{- .Values.deploy.configurationManagement.centralConfiguration.configuration.script | default "echo \"Nothing to execute.\"" | nindent 4 }}
  {{- range $key, $val := .Values.deploy.configurationManagement.centralConfiguration.configuration.scriptData }}
  {{ $key }}: |-
    {{- $val | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: xld-master-configuration-management-script
  labels:
    app: {{ template "xl-deploy.name" . }}
    chart: {{ template "xl-deploy.chart" . }}
    release: {{ .Release.Name }}
data:
  op-based-run.sh: |-
    {{- range $.Values.deploy.configurationManagement.master.configuration.resetFiles }}
    rm -fv /opt/xebialabs/xl-deploy-server/conf/{{ . }};
    {{- end }}
    echo "Finished reset of the conf files"; 
    mkdir /opt/xebialabs/xl-deploy-server/xld-configuration-management/; 
    ORIGINAL_PWD=$(pwd);
    cd /opt/xebialabs/xl-deploy-server/xld-configuration-management/; 
    cp /opt/xebialabs/xld-configuration-management/* .; chmod +x *.sh; 
    [ -x ./op-configuration-management.sh ] && ./op-configuration-management.sh;
    cd $ORIGINAL_PWD;
    echo "Finished deploy master server configuration management";
    exec /opt/xebialabs/xl-deploy-server/bin/run-in-container.sh

  op-configuration-management.sh: |-
    {{- .Values.deploy.configurationManagement.master.configuration.script | default "echo \"Nothing to execute.\"" | nindent 4 }}
  {{- range $key, $val := .Values.deploy.configurationManagement.master.configuration.scriptData }}
  {{ $key }}: |-
  {{- $val | nindent 4 }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: xld-worker-configuration-management-script
  labels:
    app: {{ template "xl-deploy.name" . }}
    chart: {{ template "xl-deploy.chart" . }}
    release: {{ .Release.Name }}
data:
  op-based-run.sh: |-
    {{- range $.Values.deploy.configurationManagement.worker.configuration.resetFiles }}
    rm -fv /opt/xebialabs/deploy-task-engine/conf/{{ . }};
    {{- end }}
    echo "Finished reset of the conf files"; 
    mkdir /opt/xebialabs/deploy-task-engine/xld-configuration-management/; 
    ORIGINAL_PWD=$(pwd);
    cd /opt/xebialabs/deploy-task-engine/xld-configuration-management/; 
    cp /opt/xebialabs/xld-configuration-management/* .; chmod +x *.sh; 
    [ -x ./op-configuration-management.sh ] && ./op-configuration-management.sh;
    cd $ORIGINAL_PWD;
    echo "Finished deploy worker configuration management";
    exec /opt/xebialabs/deploy-task-engine/bin/run-in-container.sh -master "{{ template "xl-deploy.fullname" . }}-master.{{.Release.Namespace}}.svc.cluster.local:8180" -api "http://{{ template "xl-deploy.fullname" . }}-lb.{{ .Release.Namespace }}.svc.cluster.local:4516/"

  op-configuration-management.sh: |-
    {{- .Values.deploy.configurationManagement.worker.configuration.script | default "echo \"Nothing to execute.\"" | nindent 4 }}
  {{- range $key, $val := .Values.deploy.configurationManagement.worker.configuration.scriptData }}
  {{ $key }}: |-
  {{- $val | nindent 4 }}
  {{- end }}
